<form action='/events' method='POST' id="create_event">
<input type="text" name="name" placeholder="Event Name"><br>
<input type="text" name="location" placeholder="Location"><br>
<input type="datetime-local" name="start_time">Start Time<br>
<input type="datetime-local" name="end_time">End Time<br>
<textarea name="description" form="create_event">Describe your event...</textarea><br>
<input type="submit" value="Create An Event">
</form>
